*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/tasks-data/build
/tasks-kmp/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore/
/keystore/noteKeyStore.jks
*.apk
*.aab
*.jks
.kotlin/
